.container {
  width: 100%;
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    background-color: #10b278;
    color: white;

    .auth {
      margin-right: 1.7rem;
      a {
        margin-left: 2rem;
        text-decoration: none;
        color: white;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    width: 100%;

    img {
      width: 15rem;
    }

    .headerLinks {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: #2f2f33;
        padding: 1rem 1.5rem;
      }

      a:hover {
        // border: 2rem #f67979;
        border-radius: 0.5rem;
        padding: 1rem 1.5rem;
        color: white;
        background-color: #f67979;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
      }
    }
  }

  .hero {
    display: block;
    height: 32rem;
    position: relative;
    background-image: url(./img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    .heroText {
      display: flex;
      flex-direction: column;
      padding: 15rem 13rem;
      position: absolute;

      p {
        font-size: 20px;
        font-weight: bolder;
      }

      h3 {
        font-size: 40px;
        font-weight: bold;
      }
    }
  }

  .hero::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #2f2f33;
    opacity: 0.5;
  }

  .about {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    margin-bottom: 3rem;
    border-radius: 10px;
    position: relative;
    bottom: 70px;

    .location {
      background-color: #1cc89f;
      padding: 2rem 5rem;
      width: 35rem;
      border-radius: 10px 0 0 10px;
    }

    .operation {
      background-color: #ff8484;
      padding: 2rem 6.65rem;
      border-radius: 0 10px 10px 0;
    }
  }

  .intro {
    padding: 0 6rem;
    text-align: center;

    img {
      width: 35rem;
    }
    .intro1 {
      display: flex;
      img {
        position: relative;
        left: 102px;
      }

      .introText1 {
        h1 {
          margin-bottom: 2rem;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // text-align: center;
        padding: 0 11.5rem;

        a {
          margin-top: 2rem;
          color: white;
          background-color: #ff8484;
          padding: 1rem 6.5rem;
          border: none;
          border-radius: 40px;
          text-decoration: none;
        }
      }
    }
    .intro2 {
      display: flex;
      img {
        position: relative;
        right: 105px;
      }

      .introText2 {
        h1 {
          margin-bottom: 2rem;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // text-align: center;
        padding: 0 11.5rem;

        a {
          margin-top: 2rem;
          color: white;
          background-color: #ff8484;
          padding: 1rem 6.5rem;
          border: none;
          border-radius: 40px;
          text-decoration: none;
        }
      }
    }
  }

  .downloadMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafaf6;
    margin-top: 6.5rem;
    padding-top: 5rem;
    padding-bottom: 4rem;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      width: 23rem;
      text-align: center;
      margin-bottom: 2.5rem;
    }

    .vector {
      // position: absolute;
      display: flex;
      transform: scaleX(-1);

      img {
        width: 17rem;
      }
    }

    .download {
      a {
        padding: 0 1rem;
      }

      img {
        width: 10rem;
      }
    }
  }

  .footer {
    background-color: #2f2f33;
    padding: 2rem 10rem;
    color: white;

    .grid {
      display: flex;
      justify-content: space-between;

      .logo {
        img {
          width: 15rem;
        }

        p {
          width: 19rem;
        }
      }

      .socials {
        a {
          margin-right: 1rem;
        }
        img {
          margin-top: 1rem;
          width: 2rem;
          margin-right: 1rem;
        }
      }

      .footerLinks {
        display: flex;
        flex-direction: column;

        h5 {
          font-size: 20px;
        }

        a {
          text-decoration: none;
          color: white;
          margin-top: 1rem;
        }
      }

      .footerContact {
        h5 {
          margin-bottom: 1rem;
          font-size: 20px;
        }
        p {
          margin-top: 0.2rem;
        }
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem;
  background-color: #10b278;
  color: white;

  .auth {
    margin-right: 1.7rem;
    a {
      margin-left: 2rem;
      text-decoration: none;
      color: white;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem;

  img {
    width: 15rem;
  }

  .headerLinks {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: #2f2f33;
      padding: 1rem 1.5rem;
    }

    a:hover {
      // border: 2rem #f67979;
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;
      color: white;
      background-color: #f67979;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }
  }
}

.hero {
  display: block;
  height: 32rem;
  position: relative;
  background-image: url(./img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .heroText {
    display: flex;
    flex-direction: column;
    padding: 15rem 13rem;
    position: absolute;

    p {
      font-size: 20px;
      font-weight: bolder;
    }

    h3 {
      font-size: 40px;
      font-weight: bold;
    }
  }
}

.hero::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #2f2f33;
  opacity: 0.5;
}

.about {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  margin-bottom: 3rem;
  border-radius: 10px;
  position: relative;
  bottom: 70px;

  .location {
    background-color: #1cc89f;
    padding: 2rem 5rem;
    width: 35rem;
    border-radius: 10px 0 0 10px;
  }

  .operation {
    background-color: #ff8484;
    padding: 2rem 6.65rem;
    border-radius: 0 10px 10px 0;
  }
}

.intro {
  padding: 0 6rem;
  text-align: center;
  .intro1 {
    display: flex;
    img {
      width: 35rem;
      position: relative;
      left: 102px;
    }

    .introText1 {
      h1 {
        margin-bottom: 2rem;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // text-align: center;
      padding: 0 11.5rem;

      a {
        margin-top: 2rem;
        color: white;
        background-color: #ff8484;
        padding: 1rem 6.5rem;
        border: none;
        border-radius: 40px;
        text-decoration: none;
      }
    }
  }
  .intro2 {
    display: flex;
    img {
      width: 35rem;
      position: relative;
      right: 105px;
    }

    .introText2 {
      h1 {
        margin-bottom: 2rem;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // text-align: center;
      padding: 0 11.5rem;

      a {
        margin-top: 2rem;
        color: white;
        background-color: #ff8484;
        padding: 1rem 6.5rem;
        border: none;
        border-radius: 40px;
        text-decoration: none;
      }
    }
  }
}

.downloadMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafaf6;
  margin-top: 6.5rem;
  padding-top: 5rem;
  padding-bottom: 4rem;

  h3 {
    margin-bottom: 1rem;
  }

  p {
    width: 23rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .vector {
    // position: absolute;
    display: flex;
    transform: scaleX(-1);

    img {
      width: 17rem;
    }
  }

  .download {
    a {
      padding: 0 1rem;
    }

    img {
      width: 10rem;
    }
  }
}

.footer {
  background-color: #2f2f33;
  padding: 2rem 10rem;
  color: white;

  .grid {
    display: flex;
    justify-content: space-between;

    .logo {
      img {
        width: 15rem;
      }

      p {
        width: 19rem;
      }
    }

    .socials {
      a {
        margin-right: 1rem;
      }
      img {
        margin-top: 1rem;
        width: 2rem;
        margin-right: 1rem;
      }
    }

    .footerLinks {
      display: flex;
      flex-direction: column;

      h5 {
        font-size: 20px;
      }

      a {
        text-decoration: none;
        color: white;
        margin-top: 1rem;
      }
    }

    .footerContact {
      h5 {
        margin-bottom: 1rem;
        font-size: 20px;
      }
      p {
        margin-top: 0.2rem;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 100vw;

    .about {
      width: 50rem;
      margin-left: auto;
      margin-right: auto;
    }

    .intro {
      display: block;

      img {
        width: 27rem;
      }

      .intro1 {
        margin-left: auto;
        margin-right: auto;
        a {
          margin-top: 1rem !important;
        }

        .introText1 {
          padding: 0 8rem;
        }
      }
      .intro2 {
        a {
          margin-top: 1rem !important;
        }

        img {
          position: relative;
          right: 7.6rem;
        }

        .introText2 {
          padding: 0 8rem;
          h1 {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: fit-content;

    .intro {
      display: block;

      img {
        width: 20rem;
        height: 18rem;
      }

      .intro1 {
        margin-left: auto;
        margin-right: auto;

        img {
          position: relative;
          left: 5rem;
        }

        .introText1 {
          padding: 0rem 5rem;
          margin-left: 0.5rem;

          h1 {
            margin-bottom: 1rem;
            line-height: 1.8rem;
          }

          a {
            padding: 0.5rem 3rem;
            margin-bottom: 0.5rem;
          }
        }
      }
      .intro2 {
        img {
          position: relative;
          right: 7rem;
        }

        .introText2 {
          padding: 0rem 5rem;
          margin-right: 3rem;
          h1 {
            margin: 0.5rem 0;
          }

          a {
            padding: 0.5rem 3rem;
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-height: max-content;
    .navbar {
      padding: 1rem 2rem;
    }
    .header {
      padding: 1rem 2rem;
      img {
        width: 10rem;
      }
    }
    .intro {
      .intro1 {
        flex-direction: column;
        img {
          margin-left: auto;
          margin-right: auto;
          position: initial;
          margin-bottom: 2rem;
        }
        .introText1 {
          margin-left: 0;
          a {
            margin-bottom: 1rem;
          }
        }
      }
      .intro2 {
        flex-direction: column-reverse;
        img {
          margin-left: auto;
          margin-right: auto;
          position: initial;
          margin-bottom: 1rem;
        }
        .introText2 {
          margin-right: 0;
        }
      }
    }
  }
}
