.dashboard {
  margin-top: 8rem;
  position: relative;
  left: 18rem;
  width: fit-content;

  h1 {
    margin: 1rem 6rem;
    font-size: 33px;
  }

  .cardGroup {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-left: 10rem;

    .card {
      display: flex;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
      .cardText {
        margin-right: 3rem;
      }

      img {
        width: 5rem;
      }
    }
  }

  .table {
    h1 {
      margin: 1rem 6rem;
      font-size: 24px;
    }
    table {
      // margin-top: 3rem;
      margin-left: 10rem;
      // margin-right: auto;
      margin-bottom: 2rem;
      border-radius: 12px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
      th,
      td {
        padding: 0.9rem 2rem;
        text-align: center;
      }

      td {
        border-bottom: 1px solid #d9d9d9;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdownContent {
        display: none;
        position: absolute;
        background-color: white;
        top: 20px;
        right: -68px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .dropdownContent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdownContent a:hover {
        background-color: #f6f6f6;
        border-radius: 10px;
      }

      .dropdown:hover .dropdownContent {
        display: block;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      .dropdown:hover {
        background-color: transparent;
      }

      .statusButton {
        padding: 0.4rem 1rem;
        border: none;
        background-color: #10b278;
        border-radius: 20px;
        color: white;
      }

      .actionButton {
        border: none;
        background-color: transparent;
      }

      .noBorder {
        border-bottom: none;
      }
    }
  }
  .add {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      padding: 0.5rem 5rem;
      color: #10b278;
      border: 1px solid #10b278;
      border-radius: 40px;
      background-color: transparent;
      font-weight: 700;
    }
  }
}
