.dashboard {
  margin-top: 7rem;
  position: relative;
  left: 24rem;
  width: fit-content;
  h1 {
    // margin-left: 1rem;
    font-size: 33px;
  }
  .cardGroup {
    display: flex;
    justify-content: space-evenly;

    .card {
      display: flex;
      padding: 1rem 2rem;
      border-radius: 12px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);

      .cardText {
        margin-right: 3rem;
      }

      img {
        width: 5rem;
      }
    }
  }

  .table {
    margin-top: 3rem;

    table {
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
      border-radius: 12px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-collapse: collapse;

      th,
      td {
        padding: 0.9rem 2rem;
        text-align: justify;
        text-align: center;
      }

      .row {
        border-bottom: 1px solid #d9d9d9;
      }

      .row:last-child {
        border-bottom: 0px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdownContent {
        text-align: justify;
        display: none;
        border-radius: 10px;
        position: absolute;
        background-color: white;
        top: 25px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        .modal {
          display: none; /* Hidden by default */
        }
      }

      .dropdownContent {
        button {
          border: none;
          background-color: white;
          padding: 12px 16px;
          font-size: 16px;
        }
        button:hover {
          // background-color: #f6f6f6;
          border-radius: 10px;
          cursor: pointer;
        }
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
      }

      .dropdown:hover .dropdownContent {
        display: block;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      .dropdown:hover {
        background-color: transparent;
      }

      .statusPending {
        width: 6rem;
        height: 2rem;
        border: none;
        background-color: #f1b722;
        border-radius: 20px;
        color: white;
      }

      .statusActive {
        width: 6rem;
        height: 2rem;
        border: none;
        background-color: #10b278;
        border-radius: 20px;
        color: white;
      }

      .statusReject {
        width: 6rem;
        height: 2rem;
        border: none;
        background-color: #f67979;
        border-radius: 20px;
        color: white;
      }

      .actionButton {
        border: none;
        background-color: transparent;
      }

      .noBorder {
        border-bottom: none;
      }
    }

    .footer {
      max-width: 62.5rem;
      display: flex;
      justify-content: space-between;
      margin: 1rem auto;

      div {
        display: flex;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border: 0px transparent none;
        }
      }
    }

    .modal {
      display: block;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }
  }
}
