.containers {
  margin-top: 8rem;
  width: fit-content;
  margin-left: 25rem;
  // margin-left: auto;
  margin-right: auto;
  h1 {
    margin-top: 4rem;
    // margin-left: 4rem;
  }

  .adjust {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0rem;

    h5 {
      margin-left: 2rem;
      font-weight: 200;
    }

    .sortFilter {
      button {
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border: 1px solid #c1c1c2;
        border-radius: 12px;
        background-color: white;
      }
    }
  }
  table {
    margin-top: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdownContent {
      text-align: justify;
      display: none;
      border-radius: 10px;
      position: absolute;
      background-color: white;
      top: 25px;
      right: -84px;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      // .modal {
      //   display: none; /* Hidden by default */
      // }
    }

    .dropdownContent {
      button {
        border: none;
        background-color: white;
        padding: 12px 16px;
        font-size: 16px;
      }
      button:hover {
        // background-color: #f6f6f6;
        border-radius: 10px;
        cursor: pointer;
      }
      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    }

    .dropdown:hover .dropdownContent {
      display: block;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }

    .dropdown:hover {
      background-color: transparent;
    }
    th,
    td {
      padding: 0.9rem 2rem;
      text-align: center;
    }

    td {
      border-bottom: 1px solid #d9d9d9;
      .noClient {
        margin: auto;
        width: 100%;

        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: #768471;

        img {
          display: block;
          margin: auto;
          margin-bottom: 1rem;
        }
      }

      button {
        border: none;
        background-color: transparent;
      }
    }
  }

  .showingButton {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    h5 {
      margin-left: 2rem;
      font-weight: 200;
    }
    .nextButton {
      // margin-right: 1rem;

      button {
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border: 1px;
        border-radius: 12px;
        background-color: white;
      }
    }
  }
}
