.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  
  .header {
    margin: auto;
    background-color: white;
    width: 20rem;
    height: 20rem;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    margin: auto;

    img {
      width: 15rem;
      margin-left: 1rem;
    }
    

    h4 {
      margin-left: 2rem;
    
    }

    p{
      font-size: 10px;
      margin-top: 0.5rem;
    }

    .yes {
      color: white;
      background: #10b278;
      border: none;
      border-radius: 12px;
      width: 18rem;
      height: 2rem;
      margin-top: 2rem;
      
    }
  }
}
