.container {
  margin-top: 3rem;

  .password {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 18rem;
    margin-top: 1rem;

    input {
      width: 50rem;
      height: 3rem;
      margin-left: 5rem;
      margin-top: 2.3rem;
      border-radius: 8px;
      border: 1px solid #c1c1c2;
      padding-left: 1rem;
      
      
    }
  }

  .saveButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    color: #FFFFFF;
  }
}
