@use "./breakpoints/base";
@import "../../breakpoints/breakpoints.scss";

.signupnannyContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img/login.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  @include media("<=desktop") {
    height: 150vh;
  }

  @include media("<=tablet") {
    height: 100vh;
  }

  @include media("<=phone") {
    height: 100vh;
  }

  //   max-height: 100vh;

  .signupnannyWrapper {
    margin-top: auto;
    margin-bottom: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media("<=phone") {
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .signupnannyLogin {
    // display: flex;
    // flex-direction: column;
    background-color: base.$white-color;
    height: 38.5rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;

    @include media("<=phone") {
      height: 30.5rem;
      width: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h5 {
      margin-left: 2.5rem;
      font-size: 16px;
      font-weight: 100;
      @include media("<=phone") {
        margin-bottom: 1rem;
        font-size: 12px;
      }
    }
    .signupnannyLoginForm {
      align-items: center;
      display: flex;
      flex-direction: column;

      @include media("<=phone") {
      }

      @include media("<=phone") {
        .nativeNanny {
          width: 16rem;
          margin-left: 4rem;
        }
      }

      .signupnannyIcon {
        position: absolute;
        left: 50rem;
        bottom: 6rem;

        @include media("<=phone") {
          left: 7rem;
          bottom: 3rem;
          font-size: 1.25rem;
        }
      }

      .signupnannySignin {
        display: flex;
        align-items: center;
        margin-right: 13rem;
        font-size: 14px;

        @include media("<=phone") {
          display: flex;
          align-items: center;
          flex-direction: row;
          margin-right: 5rem;
          font-size: 12px;
        }
        a {
          text-decoration: none;
          color: base.$green-color;
          margin-left: 0.5rem;
          @include media("<=phone") {
          }
        }
      }
    }
  }

  .signupnannyHeader {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    margin-left: 2.5rem;
    @include media("<=phone") {
      margin-top: 0.5rem;
      font-size: 1.8rem;
    }
  }
  .signupnannyInputError {
    @extend %inputbuttonStyle;
    margin-bottom: 0.5rem;
    outline: red;
    border: none;
    border-bottom: 2px base.$red-color solid;
    width: 24rem;
  }

  .signupInputPasswordError{
    @extend %inputbuttonStyle;
    margin-bottom: 2rem;
    margin-top: 1rem;
    outline: red;
    border: none;
    border-bottom: 2px base.$red-color solid;
    width: 24rem;
  }

  .signupNameError {
    color: base.$red-color;
    font-size: 0.7rem;
    margin-right: 9rem;
  }

  .signupEmailError {
    color: base.$red-color;
    font-size: 0.7rem;
    margin-right: 9.5rem;
  }

  .signupPasswordError {
    color: base.$red-color;
    font-size: 0.7rem;
    margin-right: 4.5rem;
    
  }

  .signupnannyInput {
    @extend %inputbuttonStyle;
    outline: #999;
    border: none;
    border-bottom: 2px base.$gray-color solid;
    width: 24rem;
    @include media("<=phone") {
      width: 16rem;
      height: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .signupnannyButton {
    @extend %inputbuttonStyle;
    background-color: base.$pink-color;
    color: base.$white-color;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    height: 3.5rem;
    width: 26rem;
    border-radius: 8px;

    @include media("<=phone") {
      width: 17rem;
      height: 2.5rem;
      margin-bottom: 0.5rem;
      font-size: 15px;
    }
  }
}
